# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. SciPy
3. Pandas
4. Matplotlib
5. SciKit-Learn
6. TensorFlow

| Data Science Tools |
| ------------------ | 
|    RStudio         |
|    Jupyter         | 
|    Tableau         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
 #  This a  simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Muhammad Talha